.product-container {
    display: flex;
    flex-direction: column;
}

.product-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0 100px 0;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-img {
    width: 400px;
    margin-right: 200px;
}

.product-name {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-description {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    max-width: 400px;
}

.product-price {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
}

.product-colors {
    display: flex;
    flex-direction: row;
}

.color-black {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.color-white {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.color-pink {
    display: none;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
}

.color-black:hover {
    background-color: #fff;
    color: #000;
}

.color-white:hover {
    background-color: #fff;
    color: #000;
}

.color-pink:hover {
    background-color: #fff;
    color: #000;
}

.show {
    display: flex;
}

.sizes {
    margin-top: 20px;
}

.size-btn {
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.size-btn:hover {
    background-color: #fff;
    color: #000;
}

.active {
    background-color: #fff;
    color: #000;
}

.hide {
    display: none;
}

.product-add-to-cart {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    width: max-content;
    display: inline-block;
    color: #fff;
    background: var(--gradient);
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.product-add-to-cart:hover {
    box-shadow: inset 14em 0 0 0 var(--color-cyan);
}

  /* LAPTOP MEDIA QUERY */

  @media screen and (max-width: 1300px) {
    .product-img {
        width: 400px;
        margin-right: 130px;
    }
  }
  
  /* TABLET MEDIA QUERY */
  
  @media screen and (max-width: 1024px) {
    .product-img {
        margin-right: 50px;
    }
  }
  
  /* MOBILE MEDIA QUERY */
  
  @media screen and (max-width: 768px) {
    .product-row {
        flex-direction: column;
        align-items: center;
    }

    .product-img {
        width: 300px;
        margin-right: 0px;
    }

    .product-info-container {
        width: 300px;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 50px;
    }
  }