/* Importing Google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*
body {
    background: 
}
*/
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    background:rgba(109, 225, 190, 0.292);
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(231, 65, 65, 0.644);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 20px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover {
    border: 50px solid #848d352f;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    object-fit:cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .technical {
    
    background-color: #F7DFF5; 
    color: #B22485;
}   

.card-list .Personality {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .Sport {
    ba-cckgroundolor: #d6f8d6; 
    color: #205c20;
}

.card-list .Geographical {
    ba-cckgroundolor: #d6f8d6; 
    color: #205c20;
}

.card-list .history {
    ba-cckgroundolor: #d6f8d6; 
    color: #205c20;
}

.card-list .Knowlegde {
    ba-cckgroundolor: #d6f8d6; 
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 5px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
    background:#d1e8ff;
    color: #fff; 
}

@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}