#contact {
  height: 110vh;
  margin-top: -80px;
  overflow: hidden;
  background-image: url("../../assets/photos/contact.jpg"),
  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -320px 100px;
}

.contact-title {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

.contact-container {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact-london {
  display: flex;
  flex-direction: column;
  left: 90px;
  text-align: left;
}

.contact-london h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.contact-london li {
  display: flex;
  font-size: 20px;
  color: #fff;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 18px;
}

.contact-london img {
  width: 40px;
  margin-right: 5px;
}

/* CONTACT FORM */

.contact-form {
  width: 600px;
  height: 480px;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.1);
}

.send-btn {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  width: max-content;
  display: inline-block;
  color: #fff;
  background: var(--gradient);
  padding: 10px 50px 10px 50px;
  border-radius: 15px;
  cursor: pointer;
  transition: var(--transition);
}

.send-btn:hover {
  box-shadow: inset 10em 0 0 0 var(--color-cyan);
}

.input-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: start;
}

input {
  background-color: rgba(126, 126, 126, 0.5);
  padding: 8px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 240px;
}

textarea {
  resize: none;
  background-color: rgba(126, 126, 126, 0.5);
  padding: 8px;
  color: #fff;
  font-size: 16px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 0 30px;
}

.email {
  margin-left: 55px;
}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

/* MEET THE TEAM SECTION */

.team-title {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.team-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 50px;
  margin: 70px 70px 120px 70px;
  pointer-events: none;
}

.team-container .team-card{
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #171717;
  border-radius: 20px;
  overflow: hidden;
  pointer-events: all;
  transition: 0.5s;
}

.male:before{
  content: '';
  position: absolute;
  background: rgba(58,227,217);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(200px at 50% -45%);
  transition: 0.8s;
}

.female:before{
  content: '';
  position: absolute;
  background: rgba(241,81,255);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(200px at 50% -45%);
  transition: 0.8s;
}

.male:hover:before{
  clip-path: circle(300px at 50% -30%);
  background: rgba(58,227,217,0.8);
}

.female:hover:before{
  clip-path: circle(300px at 50% -30%);
  background: rgba(241,81,255,0.8);
}

.team-card:after{
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  font-size: 3.5em;
  font-weight: 800;
  transition: 0.7s;
}

.male:after {
  color: #fff;
}

.female:after {
  color: #fff;
}

.john:after {
  content: 'John';
}

.anya:after {
  content: 'Anya';
}

.greg:after {
  content: 'Greg';
}

.clara:after {
  content: 'Clara';
}

.leo:after {
  content: 'Leo';
}

.mariana:after {
  content: 'Mariana';
}

.male:hover:after{
  color: rgba(58,227,217,0.1);
  font-size: 10em;
  margin-top: 140px;
}

.female:hover:after{
  color: rgba(241,81,255,0.1);
  font-size: 10em;
  margin-top: 140px;
}

.team-container .team-card .img-box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.team-card .img-box img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.team-card:hover .img-box{
  top: 15%;
  transform: translateY(0%);
}

.description {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  margin-top: 10px;
  color: #fff;
}

.team-card:hover .content-box .description{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.team-card .content-box{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 2;
}

.chevron {
  position: absolute;
  visibility: visible;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  transition: 0.5s;
  opacity: 1;
}

.team-card:hover .chevron {
  visibility: hidden;
  opacity: 0;
}

.team-container .team-card:hover .content-box{
  height: 260px;
}

.team-container .team-card .content-box .name{
  position: relative;
  visibility: hidden;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

.team-card:hover .content-box .name {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
}

.team-container .team-card .role{
  position: relative;
  text-align: center;
  top: 65%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  opacity: 1;
  transition: 0.2s;
  text-transform: uppercase;
}

.team-card:hover .role {
  opacity: 0;
  transition-delay: 0.1s;
}

.team-container .team-card .content-box a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 20px;
}

.team-container .team-card:hover .content-box a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.team-container:hover .team-card:not(:hover) {
  opacity: 0.5;
}


/* LAPTOP MEDIA QUERY */

@media screen and (max-width: 1300px) {
  #contact {
    background-position: -620px 100px;
  }
}

/* TABLET MEDIA QUERY */

@media screen and (max-width: 1024px) {
  #contact {
    height: fit-content;
    background-position: -920px 100px;
  }

  .contact-container {
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-around;
  }

  .contact-form-bg {
    margin: 70px 0 70px 0;
  }
  
  .team-container {
    grid-template-columns: 1fr 1fr;
  }

  .male:before{
    clip-path: circle(300px at 50% -30%);
    background: rgba(58,227,217,0.8);
  }
  
  .female:before{
    clip-path: circle(300px at 50% -30%);
    background: rgba(241,81,255,0.8);
  }

  .male:after{
    color: rgba(58,227,217,0.1);
    font-size: 10em;
    margin-top: 140px;
  }
  
  .female:after{
    color: rgba(241,81,255,0.1);
    font-size: 10em;
    margin-top: 140px;
  }

  .team-card .img-box{
    top: 15%;
    transform: translateY(0%);
  }

  .team-card .content-box .description{
    opacity: 1;
    visibility: visible;
  }

  .team-card .chevron {
    visibility: hidden;
    opacity: 0;
  }
  
  .team-container .team-card .content-box{
    height: 260px;
  }

  .team-container .team-card .content-box .name{
    visibility: visible;
    opacity: 1;
  }

  .team-container .team-card .role{
    opacity: 0;
  }

  .team-container .team-card .content-box a{
    opacity: 1;
    transform: translateY(0px);
  }
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
  #contact {
    height: fit-content;
    background-image: none;
  }

  .contact-title {
    font-size: 2.7rem;
  }

  .contact-london {
    margin-top: 40px;
    text-align: center;
  }

  .contact-london h2 {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .team-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .contact-form-bg {
    width: 360px;
    height: 580px;
  }

  .contact-form {
    width: 347px;
    height: 567px;
  }

  input {
    width: 287px;
  }

  .first-row {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .email {
    margin-left: 0px;
  }

  .team-card {
    height: 380px;
    width: 250px;
  }

  .description {
    margin: 0 15px 0 15px;
  }
}