.playlist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin: 0 0 100px 0;
    background-image: url('../../assets/photos/playlist.jpg');
    height: 400px;
    background-position: 80%;
    position: relative;
}

.playlist-text {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.playlist-text h2 {
    text-transform: uppercase;
    font-size: 50px;
}

.playlist-text p {
    font-size: 25px;
    font-weight: 300;
}

.play-btn {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  width: max-content;
  display: flex;
  color: #fff;
  background: var(--gradient);
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: var(--transition);
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.play-btn:hover {
    box-shadow: inset 8em 0 0 0 var(--color-cyan);
}

.play-btn img {
    width: 30px;
}

/* TABLET MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .playlist-container {
        gap: 100px;
    }
  }

  /* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    .playlist-container {
        flex-direction: column;
        gap: 30px;
        background-size: cover;
    }

    .playlist-text {
        padding: 20px;
        align-items: center;
    }
    
    .playlist-text h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
    }
    
    .playlist-text p {
        font-size: 22px;
        text-align: center;
        font-weight: 300;
    }
  }
  